<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ASPdotNET_MVC</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ASPdotNET_MVC.styles.css" asp-append-version="true" />
</head>

<style>
    body {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
    }

    main {
        flex-grow: 1;
        text-align: center;
        margin-top: 120px;
    }

    footer {
        background-color: #f9f9f9;
        text-align: center;
        padding: 20px;
        position: fixed;
        bottom: 0;
        width: 100%;
    }
    
    header {
        background-color: #f9f9f9;
        text-align: center;
        padding: 20px;
        position: fixed;
        top: 0;
        width: 100%;
    }
</style>

<body>
    <header>
        <h1>Psychologická ordinace</h1>
        Chcete zjistit jak moc jsme vadný jedinec? Neváhejte a zamluvte si termín ještě dnes!
    </header>

    <main>
        @RenderBody()
    </main>

    <footer>
    <p>Děláme, že nám na vás záleží, Ltd</p>
    </footer>
</body>
</html>
